<div class="project">
    <div class="project__logo" style="background-color: {{color}};">
        <img class="project__icon" src="/assets/icons/{{icon}}.svg">
    </div>
    <div class="project__body">
        <h2 class="project__subtitle">
            <a href="../">The Guardian Mobile Innovation Lab</a>
        </h2>
        <h1 class="project__title" style="color: {{color}};">{{title}}</h1>
        <div class="project__copy">