html {
    font-size: 16px;
    font-family: 'GuardianSansWeb', sans-serif;
    color: $neutral-1;
    background-color: $neutral-6;
    overflow: hidden;

    @include mq(mobileLandscape) {
        font-size: 20px;
    }
}

html,
body,
.gs-container {
    height: 100%;
}

.gs-container {
    @include gs-container();
    padding: 0 $gs-gutter;
    display: flex;
    flex-direction: column;
}
