.button {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 4px;
}

.button__icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}