.footer {
    margin: $gs-baseline 0;

    @include mq(mobileLandscape) {
        margin: $gs-baseline * 2 0;
    }
}

.social {
    @include mq(bitWhereFormLooksWeird) {
        float: left;
    }
}

.sign-up {
    @include mq(bitWhereFormLooksWeird) {
        float: right;
    }
}
