.header {
    max-width: gs-span(6);
    margin: $gs-baseline 0 -40px;
    line-height: 20px;

    @include mq(mobileLandscape) {
        margin-top: $gs-baseline * 2;
        line-height: 24px;
    }
}

.header__description {
    font-weight: 300;
    color: $neutral-2;
}
